.align-left{
    padding-left: 5%;
}

.project-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-row {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 15px;
}

.project-row img {
    /* margin-bottom: 20px; */
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;        
    padding: 20px;

    /* position: relative;
    overflow: hidden; */
}
.project-row img:hover{
    background-color: #1d539f;
    image-orientation: flip;

    top: 48%;
    opacity: 1;
    visibility: visible;
}

