<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/bootstrap.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div>Nav Bar</div>
    </header>

    <div class="bg-gold jumbotron jumbotron-fluid">
      <h1 class="display-4 contact-me-header-text">Contact me</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <form
            action="mailto:someone@example.com"
            method="post"
            enctype="text/plain"
          >
            <h3>Get in touch!</h3>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="support-message"
                    rows="3"
                    placeholder="Enter message"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name-input"
                    placeholder="Enter your name"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="email-input"
                    placeholder="Enter Email"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="subject-input"
                placeholder="Enter Subject"
              />
            </div>

            <button type="button button-hover" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>
        <div class="col-4">
          <br />
          <br />
          <br />
          <div class="row">
            <div class="col-1">
              <i class="material-icons">home</i>
            </div>
            <div class="col-6">012 34th St, 56789</div>
          </div>
          <div class="row">
            <div class="col-1">
              <i class="material-icons">email</i>
            </div>
            <div class="col-2">ouremail@server.com</div>
          </div>
          <div class="row">
            <div class="col-1">
              <i class="material-icons">phone</i>
            </div>
            <div class="col-1">+123456789</div>
          </div>
          <!-- </i>
         </i> -->
        </div>
      </div>
    </div>
    <footer>
      <div class="containerp">
        <h5>
          I’m a Student, I'm currently enrolled in MLH Fellowship. Making this
          page is part of my introduction course and I love it!
        </h5>
      </div>
      <hr />
      <div class="footer">
        <div>
          <form action="/submited" onsubmit="python()">
            <h5>Drop your info and we'll get in touch.</h5>
            <!-- <label for="Name"></label> -->
            <div>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Your Name"
              />
            </div>
            <div>
              <input type="text" name="email" id="email" placeholder="Email" />
            </div>
            <div>
              <input
                type="text"
                name="subject"
                id="subject"
                placeholder="Subject"
              />
            </div>
            <div>
              <input
                type="text"
                name="Message"
                id="Message"
                placeholder="Message"
              />
            </div>
            <div>
              <input type="submit" class="btnf" value="Send Message" />
            </div>
          </form>
        </div>

        <div class="columnf">
          <h3 id="contactf">Contact Me</h3>
          <p>4657 Franklin Avenue, ARCH CAPE</p>
          <p>+555-555-5555</p>
          <p>email@email.com</p>
          <button>Download Resume</button>
          <div class="rowf">
            <img src="./static/img/logo.jpg" />
            <img src="./static/img/logo.jpg" />
            <img src="./static/img/logo.jpg" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
